body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* Navbar */
.logo{
  height: 40px;
  width: 40px;
}

.btn-view > i {
  margin-right: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-view:hover > i {
  transform: translateX(8px);
}

/* Welcome Section */

.role{
  color:red;
  font-style: italic;
}

.btn-download > i {
  margin-right: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-download:hover > i {
  transform: translateY(8px);
}

/* hire */

.quote{
  font-family: 'Oldenburg', cursive;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;
    opacity: 0;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.btn-hire > i {
  margin-right: 10px;
}

/* Timeline */

.list-group {
  width: auto;
  max-width: 460px;
  margin: auto;
}

.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-dark);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

/* technologies */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* CONTACT */

.contact-section{
  padding-top: 30px;
}

.btn-contact{
  transition: transform 0.3s ease-out;
}

.btn-contact:hover{
  transform: translateY(8px);
}

.btn-outline-light{
  outline: 0;
}


/* Alignment */
.center{
  text-align: center;
}

.justify{
  text-align: justify;
}
