body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* Navbar */
.logo{
  height: 40px;
  width: 40px;
}

/* Welcome Section */

.role{
  color:red;
  font-style: italic;
}

.btn-download > i {
  margin-right: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-download:hover > i {
  transform: translateY(8px);
}

/* hire */

.quote{
  font-family: 'Oldenburg', cursive;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;
    opacity: 0;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.btn-hire > i {
  margin-right: 10px;
}

/* technologies */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* CONTACT */

.contact-section{
  padding-top: 30px;
}

.btn-contact{
  transition: transform 0.3s ease-out;
}

.btn-contact:hover{
  transform: translateY(8px);
}

.btn-outline-light{
  outline: 0;
}


/* Alignment */
.center{
  text-align: center;
}

.justify{
  text-align: justify;
}
