body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* Navbar */
.logo{
  height: 40px;
  width: 40px;
}

/* Welcome Section */

.role{
  color:red;
  font-style: italic;
}

.btn-download > i {
  margin-right: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-download:hover > i {
  transform: translateY(8px);
}

/* CONTACT */

.contact-section{
  padding-top: 30px;
}

.btn-contact{
  transition: transform 0.3s ease-out;
}

.btn-contact:hover{
  transform: translateY(8px);
}


/* Alignment */
.center{
  text-align: center;
}

.justify{
  text-align: justify;
}
